h1 {
    font-size: xx-large;
    text-align: center;
    background-color: cornflowerblue;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}

label {
    font-weight: bold;
    font-style: italic;
}

article {
    font-size: x-large;
    font-weight: bold;
}

section, ul {
    font-size: large;
}